body {
  color: black;
      background-image: url(http://www.netyasun.com/home/bk-img/b121.jpg);     /* 背景画像指定 */
    background-repeat: repeat;
}

.header {
  .logo {
      width: 120px;
      height: 82px;
  }
}

.headline {
  .caption {
    position: relative;
    width: 350px;
    .image {
      img {
    width: 100%;
      }
    }
    .title {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      h1 {
    color: #fff;
    font-size: 1.2em;
      }
    }
    .body {
      font-size: 0.8em;
    }
  }
}

.posts {
  .post {
    .date {
      font-size: 1em;
    }
    .title {
      font-size: 2em;
      font-weight: bold;
    }
    .body {
      font-size: 1.5em;
    }
    .day {
      font-size: 1.2em;
    }
    .adress {
      font-size: 1.2em;
    }
    .mood {
      font-size: 1.2em;
    }
    .image {
      img {
    width: 400px; height: 320px;
      }
    }
  }
}