@charset "UTF-8";

body {
  color: black;
  background-image: url(http://www.netyasun.com/home/bk-img/b121.jpg);
  /* 背景画像指定 */
  background-repeat: repeat;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.headline .caption {
  position: relative;
  width: 350px;
}

.headline .caption .image img {
  width: 100%;
}

.headline .caption .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .title h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .body {
  font-size: 0.8em;
}

.posts .post .date {
  font-size: 1em;
}

.posts .post .title {
  font-size: 2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 1.5em;
}

.posts .post .day {
  font-size: 1.2em;
}

.posts .post .adress {
  font-size: 1.2em;
}

.posts .post .mood {
  font-size: 1.2em;
}

.posts .post .image img {
  width: 400px;
  height: 320px;
}

